name: arduino_lint

on:
 release:
    types: [published]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/arduino-lint-action@v2
        with:
          library-manager: submit
          compliance: specification
          report-file: lint_report
          verbose: true
